.game-container{
    text-align: center;
}
.cell-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    
}

.cell{
    border: 2px solid black;
    height: 75px;
    width: 75px;
    line-height: 75px;
    box-shadow: 0 0 0 2px;
    font-size: 1.5rem;
    cursor: pointer;
}
.reset-game{
    cursor: pointer;
    background-color: #c41717;
    color: white;
    padding: 8px;
    border: 1px solid #c41717;
    border-radius: 6px;
    font-size: 1.2rem;
}